@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<br />
<br />
<br />
<br />

<section id="login-reg">
    <div class="overlay pb-120">
        <div class="container">
            <div class="top-area">
                <div class="row d-flex align-items-center">
                    <div class="col-sm-5 col">
                        <a class="back-home" href="index.html">
                            <img src="~/images/left-icon.png" alt="image">
                            Back To Begam
                        </a>
                    </div>
                    <div class="col-sm-5 col">
                        <a href="#">
                            <img src="~/images/logo.png" alt="image">
                        </a>
                    </div>
                </div>
            </div>
            <div class="row pt-120 d-flex justify-content-center">
                <div class="col-lg-6">
                    <div class="login-reg-main text-center">
                        <h4>Let's get started</h4>
                        <div class="form-area">
                            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
								<div class="form-group">
									<label>Username</label>
									<input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="Enter your Username" type="text">
                                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
								</div>
                                <div class="form-group">
                                    <label>Email</label>
                                    <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" placeholder="Enter your Email" type="email"/>
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                               
                                <div class="form-group">
                                    <label>Password</label>
                                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Enter your password" type="password"/>
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label>Confirm Password</label>
                                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirm password" type="password" />
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <button id="registerSubmit" type="submit" class="cmn-btn">Sign Up Free</button>
                                </div>
                            </form>
                            <div class="or">
                                <p>OR</p>
                            </div>
                            <div class="sign-in">
                                <p>Sign in with your</p>
                            </div>
                            <div class="reg-with">
                                <div class="social-area d-flex justify-content-center">
                                    <a href="javascript:void(0)"><img src="~/images/social-icon-1.png" alt="image"></a>
                                    <a class="twitch" href="javascript:void(0)"><img src="~/images/social-icon-2.png" alt="image"></a>
                                    <a class="google" href="javascript:void(0)"><img src="~/images/social-icon-3.png" alt="image"></a>
                                </div>
                            </div>
                            <div class="account">
                                <p>Already have an account? <a class="login-bt" id="login" asp-area="Identity" asp-page="/Account/Login">Sign In</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
