@model Projet.Net.Models.Tournoi

@{
    ViewData["Title"] = "Create";
}



<section id="shop-cart-section" class="pt-120 pb-120">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h1>Create</h1>
                    <h4>Tournoi</h4>
                    <hr />
                    <br />
                    <div class="row">
                        <div class="col-md-4">
                            <form asp-action="Create">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="form-group">
                                    <label asp-for="Nom" class="control-label" style="color:white;"></label>
                                    <input asp-for="Nom" class="form-control" />
                                    <span asp-validation-for="Nom" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Descr" class="control-label" style="color:white;">Description De Tournoi</label>
                                    <input asp-for="Descr" class="form-control" />
                                    <span asp-validation-for="Descr" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="JeuId" class="control-label" style="color:white;">Select Jeu</label>
                                    <select asp-for="JeuId" class="form-control" asp-items="ViewBag.JeuId"></select>
                                    <span asp-validation-for="JeuId" class="text-danger"></span>

                                </div>
                  

                                <div class="form-group">
                                    <label asp-for="DateDebut" class="control-label" style="color:white;">Date Debut De Tournoi</label>
                                    <input asp-for="DateDebut" class="form-control" type="date" required />
                                    <span asp-validation-for="DateDebut" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="DateFin" class="control-label" style="color:white;">Date Fin De Tournoi</label>
                                    <input asp-for="DateFin" class="form-control" type="date" required />
                                    <span asp-validation-for="DateFin" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Create" class="cmn-btn" />
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
            <a asp-action="Index">Back to List</a>
        </div>
</section>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
