<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Projet.Net</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Projet.Net.styles.css" asp-append-version="true" />
    <link rel="shortcut icon" href="~/images/fav.html" type="image/x-icon">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/css/slick.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/nice-select.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <header id="header-section">
        <div class="overlay">
            <div class="container">
                <div class="row d-flex header-area">
                    <div class="logo-section flex-grow-1 d-flex align-items-center">
                        <a class="site-logo site-title" href="index.html">
                            <img src="~/images/logo.png"
                                 alt="site-logo">
                        </a>
                    </div>
                    <button class="navbar-toggler ml-auto collapsed" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-bars"></i>
                    </button>
                    <nav class="navbar navbar-expand-lg p-0">
                        <div class="navbar-collapse collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav main-menu ml-auto">
                             
                                @if (User.IsInRole("Admin"))
                                {


                                    <li class="nav-item"> <a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                                    <li class ="nav-item"> <a asp-area="" asp-controller="Equipes" asp-action="">Equipe</a></li>
                                    <li class="nav-item">
                                        <a  asp-area="" asp-controller="Joueur" asp-action="">Joueur</a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-area="" asp-controller="Jeux" asp-action="">Jeux</a>
                                    </li> 
                                    <li class="nav-item">
                                        <a  asp-area="" asp-controller="Tournois" asp-action="">Tournois</a>
                                    </li>
                                    <li class="nav-item">
                                        <a  asp-area="" asp-controller="Resultats" asp-action="">Resultats</a>
                                    </li>
                                   
                                }
                                else
                                {

                                    <li class="nav-item"> <a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li> 
                                    <li class="nav-item">
                                        <a asp-area="" asp-controller="Joueur" asp-action="">Profil</a>
                                    </li>
                                    <li class="nav-item"> <a asp-area="" asp-controller="Equipes" asp-action="">Equipe</a></li>
                                   
                                    <li class="nav-item">
                                        <a asp-area="" asp-controller="Jeux" asp-action="">Jeux</a>
                                    </li> 
                                    <li class="nav-item">
                                        <a asp-area="" asp-controller="Tournois" asp-action="">Tournois</a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-area="" asp-controller="Resultats" asp-action="">Resultats</a>
                                    </li>
                                   
                                }
                            </ul>
                        </div>
                    </nav>
                    <div class="right-area header-action d-flex align-items-center">
						<!--  <div class="search-icon">
                            <a href="#"><img src="~/images/search_btn.png" alt="icon"></a>
                        </div>
                       <div class="lang d-flex align-items-center">
                            <select>
                                <option value="1">FR</option>
                                <option value="2">EN</option>
                                <option value="3">ES</option>
                                
                            </select>
                        </div>
                        -->
                        <partial name="_LoginPartial" />
                       
                    </div>
                </div>
            </div>
        </div>
    </header>

  

	@RenderBody()
  

    <footer class="border-top footer text-muted">
        <div class="container">
             &copy; 2023 - Esports - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/jquery-3.5.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/slick.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/fontawesome.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/wow.js"></script>
    <script src="~/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
