@model EsportsTour.EquipeViewModel

@{
    ViewData["Title"] = "Create";
}




<section id="shop-cart-section" class="pt-120 pb-120">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h1>Create</h1>
                    <h4>Equipe</h4>
                    <hr />
                    <br />
                    <div class="row">
                        <div class="col-md-4">
                            <form asp-action="Create" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="form-group">
                                    <label asp-for="NomEquipe" class="control-label" style="color: #ffffff;">Nom de l'équipe</label>
                                    <input asp-for="NomEquipe" class="form-control" />
                                    <span asp-validation-for="NomEquipe" class="text-danger"></span>
                               </div>

                                <div class="form-group">
                                    <label asp-for="imageFile" class="control-label" style="color: #ffffff;">Image</label>
                                    <input asp-for="imageFile" type="file" class="form-control" />
                                    <span asp-validation-for="imageFile" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <input type="submit" value="Create" class="cmn-btn" />
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
            <a asp-action="Index">Back to List</a>
        </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
