@model EsportsTour.EquipeViewModel

@{
    ViewData["Title"] = "Edit";
}




<section id="shop-cart-section" class="pt-120 pb-120">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h1>Edit</h1>
                    <h4>Equipe</h4>
                    <br />
                    <div class="row">
                        <div class="col-md-4">
                            <form asp-action="Edit" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Id" />
                                <div class="form-group">
                                    <label asp-for="NomEquipe" class="control-label">Nom de l'équipe</label>
                                    <input asp-for="NomEquipe" class="form-control" />
                                    <span asp-validation-for="NomEquipe" class="text-danger"></span>
                                </div>
                               
                                <div class="form-group">
                                    <input type="submit" value="Save" style="color:white" class="cmn-btn" />
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
            <a asp-action="Index">Back to List</a>
        </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
